**To Run this Press Ctrl+F9**

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
Student_Name=[]
Reg_no=[]
SEM=[]
SGPA=[]
CGPA=[]
start_reg_no=int(input("Enter Start reg_no "))  #22102135001
end_reg_no=int(input("Enter End reg_no "))      #22102135040

#http://results.beup.ac.in/ResultsBTech2ndSem2023_B2022Pub.aspx?Sem=II&RegNo=22102135002

Enter Start reg_no 22102135001
Enter End reg_no 22102135040

In [2]:
for reg in range(start_reg_no,end_reg_no+1):
  try:
    url=f"http://results.beup.ac.in/ResultsBTech2ndSem2023_B2022Pub.aspx?Sem=II&RegNo={reg}"
    req=requests.get(url)
    content=BeautifulSoup(req.content,'html.parser')
    tr=content.find_all("tr")
    # for i in range(len(tr)):
    #    print(i,tr[i])
    # break


    reg_no=tr[7].find("span").text.strip()
    name=tr[8].find("span").text.strip()
    sgpa=tr[23].find("span").text.strip()
    sem=tr[29].find_all("td")
    sem = [i.text.strip() for i in sem]
    cgpa = sem[-1]
    sem.pop()


    Student_Name.append(name)
    Reg_no.append(reg_no)
    SGPA.append(sgpa)
    CGPA.append(cgpa)
    SEM.append(sem)

    print(f"Result for {reg}: DONE!")
  except:
    print(f"Result for {reg}: FAILED!")
    pass

Result for 22102135001: FAILED!
Result for 22102135002: DONE!
Result for 22102135003: DONE!
Result for 22102135004: DONE!
Result for 22102135005: DONE!
Result for 22102135006: FAILED!
Result for 22102135007: DONE!
Result for 22102135008: DONE!
Result for 22102135009: DONE!
Result for 22102135010: DONE!
Result for 22102135011: DONE!
Result for 22102135012: FAILED!
Result for 22102135013: DONE!
Result for 22102135014: DONE!
Result for 22102135015: DONE!
Result for 22102135016: DONE!
Result for 22102135017: DONE!
Result for 22102135018: DONE!
Result for 22102135019: FAILED!
Result for 22102135020: FAILED!
Result for 22102135021: FAILED!
Result for 22102135022: DONE!
Result for 22102135023: DONE!
Result for 22102135024: FAILED!
Result for 22102135025: FAILED!
Result for 22102135026: FAILED!
Result for 22102135027: FAILED!
Result for 22102135028: FAILED!
Result for 22102135029: FAILED!
Result for 22102135030: FAILED!
Result for 22102135031: FAILED!
Result for 22102135032: FAILED!
Result for 22102135033: FAILED!
Result for 22102135034: FAILED!
Result for 22102135035: FAILED!
Result for 22102135036: FAILED!
Result for 22102135037: FAILED!
Result for 22102135038: FAILED!
Result for 22102135039: FAILED!
Result for 22102135040: FAILED!

In [3]:
print(Student_Name)
print(Reg_no)
print(SGPA)
print(CGPA)
print(SEM)

['KARTIK OSHAN', 'RANJAN KUMAR', 'RUPESH KUMAR', 'SUKANKSHA RANI', 'KAJAL KUMARI', 'NEHA PATEL', 'PRIYESH KUMAR', 'SUMAN SAURAV', 'RUPESH KUMAR', 'ANURAG KUMAR', 'VISHAL KUMAR', 'CHANDAN KUMAR', 'VIVEK KUMAR', 'HARI SHANKAR', 'RAUSHAN KUMAR', 'ROHIT KUMAR', 'DHANANJAY KUMAR BHARDWAJ']
['22102135002', '22102135003', '22102135004', '22102135005', '22102135007', '22102135008', '22102135009', '22102135010', '22102135011', '22102135013', '22102135014', '22102135015', '22102135016', '22102135017', '22102135018', '22102135022', '22102135023']
['4.42', '5.80', '5.98', '3.44', '4.42', '5.12', '6.17', '4.76', '3.98', '4.56', '4.44', '4.56', '4.22', '3.83', '5.29', '7.46', '4.80']
['4.00', '4.64', '6.18', '2.92', '3.95', '3.78', '5.92', '3.63', '3.74', '3.66', '3.46', '4.11', '3.29', '4.58', '4.61', '6.57', '4.76']
[['3.51', '4.42', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['3.29', '5.80', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['6.43', '5.98', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['2.31', '3.44', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['3.40', '4.42', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['2.20', '5.12', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['5.63', '6.17', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['2.31', '4.76', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['3.46', '3.98', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['2.60', '4.56', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['2.31', '4.44', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['3.57', '4.56', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['2.20', '4.22', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['5.46', '3.83', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['3.80', '5.29', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['5.51', '7.46', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA'], ['4.71', '4.80', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']]

In [4]:
print(len(Student_Name))
print(len(Reg_no))
print(len(SGPA))
print(len(CGPA))
print(len(SEM))

17
17
17
17
17

In [5]:
# import csv
# length = len(SEM)
# with open('results.csv', 'w') as f:
#   writer = csv.writer(f)
#   writer.writerow(['RegNo', 'Name', 'CGPA', 'SGPA', 'SEM-1', 'SEM-2', 'SEM-3','SEM-4','SEM-5','SEM-6','SEM-7','SEM-8'])       [Orginal]
#   for i in range(length):
#     row = [Reg_no[i], Student_Name[i], CGPA[i], SGPA[i], *SEM[i]]
#     writer.writerow(row)



# import csv
# length = len(SEM)
# with open('results.csv', 'w') as f:
#   writer = csv.writer(f)
#   writer.writerow(['RegNo', 'Name', 'CGPA','SGPA', 'SEM-1', 'SEM-2', 'SEM-3','SEM-4','SEM-5','SEM-6','SEM-7','SEM-8','AVG-1 & 2'])
#   for i in range(length):
#     print(i,SEM[i])
#     if SEM[i][0]=='NA' or SEM[i][1]=='NA':

#       continue
#     row = [Reg_no[i], Student_Name[i], CGPA[i], SGPA[i], *SEM[i],(float(SEM[i][0])+float(SEM[i][1]))/2]
#     writer.writerow(row)



import csv
length = len(SEM)
with open('results_1&2.csv', 'w') as f:
  writer = csv.writer(f)
  writer.writerow(['RegNo', 'Name', 'CGPA','SGPA', 'SEM-1', 'SEM-2', 'SEM-3','SEM-4','SEM-5','SEM-6','SEM-7','SEM-8','AVG-1 & 2'])
  for i in range(length):
    print(i,SEM[i])
    if SEM[i][0]=='NA' or SEM[i][1]=='NA':

      continue

    row = [Reg_no[i], Student_Name[i], CGPA[i], SGPA[i], *SEM[i],(float(SEM[i][0])+float(SEM[i][1]))/2]
    writer.writerow(row)



# import csv
# length = len(SEM)
# with open('results.csv', 'w') as f:
#   writer = csv.writer(f)
#   writer.writerow(['RegNo', 'Name', 'CGPA','SGPA', 'SEM-1', 'SEM-2', 'SEM-3','SEM-4','SEM-5','SEM-6','SEM-7','SEM-8','AVG-1 & 2'])
#   for i in range(length):
#     print(i,SEM[i])
#     # Check if the list is empty before accessing elements
#     if SEM[i] and (SEM[i][-1]=='NA' or SEM[i][0]=='NA'):

#       continue

#     # Make sure SEM[i] has at least two elements before calculating the average
#     if len(SEM[i]) >= 2:
#         row = [Reg_no[i], Student_Name[i], CGPA[i], SGPA[i], *SEM[i],(float(SEM[i][0])+float(SEM[i][1]))/2]
#         writer.writerow(row)
#     else:
#         print(f"Skipping row {i} due to insufficient data in SEM list.")

0 ['3.51', '4.42', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
1 ['3.29', '5.80', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
2 ['6.43', '5.98', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
3 ['2.31', '3.44', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
4 ['3.40', '4.42', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
5 ['2.20', '5.12', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
6 ['5.63', '6.17', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
7 ['2.31', '4.76', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
8 ['3.46', '3.98', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
9 ['2.60', '4.56', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
10 ['2.31', '4.44', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
11 ['3.57', '4.56', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
12 ['2.20', '4.22', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
13 ['5.46', '3.83', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
14 ['3.80', '5.29', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
15 ['5.51', '7.46', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']
16 ['4.71', '4.80', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']

In [6]:
# Topper in 1&2 Sem in this Branch
import pandas as pd
df=pd.read_csv("results_1&2.csv")
final=df.sort_values(by="AVG-1 & 2",ascending=False)
final[['Name','RegNo','SEM-1','SEM-2',"AVG-1 & 2"]].head(1)

           Name        RegNo  SEM-1  SEM-2  AVG-1 & 2
15  ROHIT KUMAR  22102135022   5.51   7.46      6.485

In [7]:
from google.colab import files
files.download("results_1&2.csv")