** To Run this Press Ctrl+F9**

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
Student_Name=[]
Reg_no=[]
SEM=[]
SGPA=[]
CGPA=[]
start_reg_no=int(input("Enter Start reg_no "))  #21102135001
end_reg_no=int(input("Enter End reg_no "))      #21102135040

Enter Start reg_no 21101135001
Enter End reg_no 21101135059

In [ ]:
for reg in range(start_reg_no+2,end_reg_no+1):
  try:
    url=f"http://results.beup.ac.in/ResultsBTech4thSem2023_B2021Pub.aspx?Sem=IV&RegNo={reg}" #Edit this
    req=requests.get(url)
    content=BeautifulSoup(req.content,'html.parser')
    tr=content.find_all("tr")
    for i in range(len(tr)):
      print(i,tr[i])
    break

    reg_no=tr[7].find("span").text.strip()
    name=tr[8].find("span").text.strip()
    sgpa=tr[25].find("span").text.strip()
    sem=tr[29].find_all("td")
    sem = [i.text.strip() for i in sem]
    cgpa = sem[-1]
    sem.pop()
    print(sem)
    break

    Student_Name.append(name)
    Reg_no.append(reg_no)
    SGPA.append(sgpa)
    CGPA.append(cgpa)
    SEM.append(sem)



    print(f"Result for {reg}: DONE!")
  except:
    print(f"Result for {reg}: FAILED!")
    pass

0 <tr>
<td style="text-align: right">
<a href="BTech4thSem2023_B2021Results.aspx" id="ContentPlaceHolder1_HyperLink_Back">View another Result</a>
</td>
</tr>
1 <tr>
<td><br/>
<p class="style9" style="text-transform:uppercase;text-align:center; font-weight:bold;">Bihar Engineering University, Patna</p></td>
</tr>
2 <tr>
<td style="text-align:center">
<table cellspacing="0" id="ContentPlaceHolder1_DataList4" width="910">
<tr>
<td>
<span id="ContentPlaceHolder1_DataList4_Exam_Name_0" style="font-weight: 700; color: #FF3300;text-align:center; font-size:medium;"><font color="Red">B.Tech. 4<sup>th</sup> Semester Examination, 2023</font></span>
</td>
</tr>
</table>
</td>
</tr>
3 <tr>
<td>
<span id="ContentPlaceHolder1_DataList4_Exam_Name_0" style="font-weight: 700; color: #FF3300;text-align:center; font-size:medium;"><font color="Red">B.Tech. 4<sup>th</sup> Semester Examination, 2023</font></span>
</td>
</tr>
4 <tr>
<td>
<table border="1" class="style1">
<tr>
<td class="style11">
<strong>Semester : </strong><span id="ContentPlaceHolder1_DataList2_Exam_Name_0">IV</span></td>
<td class="style5">
<strong>Examination(Month/Year) : </strong>November/2023</td>
</tr>
</table>
</td>
</tr>
5 <tr>
<td class="style11">
<strong>Semester : </strong><span id="ContentPlaceHolder1_DataList2_Exam_Name_0">IV</span></td>
<td class="style5">
<strong>Examination(Month/Year) : </strong>November/2023</td>
</tr>
6 <tr>
<td>
<table border="1" class="style1">
<tr>
<td class="style5">
<b>Registration No:</b></td>
<td class="style5" colspan="3">
<span id="ContentPlaceHolder1_DataList1_RegistrationNoLabel_0" style="font-weight: 700">21101135003 </span>
</td>
</tr>
<tr>
<td class="style5">
<b>Student Name:</b></td>
<td class="style5" colspan="3">
<span id="ContentPlaceHolder1_DataList1_StudentNameLabel_0" style="font-weight: 700">KUNDAN KUMAR</span>
</td>
</tr>
<tr>
<td class="style5">
<b>Father Name:</b></td>
<td class="style5">
<span id="ContentPlaceHolder1_DataList1_FatherNameLabel_0">VIRENDRA SAH</span>
</td>
<td class="style5">
<strong>MotherName:</strong></td>
<td class="style5">
<span id="ContentPlaceHolder1_DataList1_MotherNameLabel_0">KRISHNAWATI DEVI</span>
</td>
</tr>
<tr>
<td class="style5">
<b>College Name:</b></td>
<td class="style5" colspan="3">
<span id="ContentPlaceHolder1_DataList1_CollegeCodeLabel_0">135</span>
                            -<span id="ContentPlaceHolder1_DataList1_CollegeNameLabel_0">GOVERNMENT ENGINEERING COLLEGE, VAISHALI</span>
</td>
</tr>
<tr>
<td class="style5">
<b>Course Name:</b></td>
<td class="style5" colspan="3">
<span id="ContentPlaceHolder1_DataList1_CourseCodeLabel_0">101</span>
                            -<span id="ContentPlaceHolder1_DataList1_CourseLabel_0">CIVIL ENGINEERING</span>
</td>
</tr>
</table>
</td>
</tr>
7 <tr>
<td class="style5">
<b>Registration No:</b></td>
<td class="style5" colspan="3">
<span id="ContentPlaceHolder1_DataList1_RegistrationNoLabel_0" style="font-weight: 700">21101135003 </span>
</td>
</tr>
8 <tr>
<td class="style5">
<b>Student Name:</b></td>
<td class="style5" colspan="3">
<span id="ContentPlaceHolder1_DataList1_StudentNameLabel_0" style="font-weight: 700">KUNDAN KUMAR</span>
</td>
</tr>
9 <tr>
<td class="style5">
<b>Father Name:</b></td>
<td class="style5">
<span id="ContentPlaceHolder1_DataList1_FatherNameLabel_0">VIRENDRA SAH</span>
</td>
<td class="style5">
<strong>MotherName:</strong></td>
<td class="style5">
<span id="ContentPlaceHolder1_DataList1_MotherNameLabel_0">KRISHNAWATI DEVI</span>
</td>
</tr>
10 <tr>
<td class="style5">
<b>College Name:</b></td>
<td class="style5" colspan="3">
<span id="ContentPlaceHolder1_DataList1_CollegeCodeLabel_0">135</span>
                            -<span id="ContentPlaceHolder1_DataList1_CollegeNameLabel_0">GOVERNMENT ENGINEERING COLLEGE, VAISHALI</span>
</td>
</tr>
11 <tr>
<td class="style5">
<b>Course Name:</b></td>
<td class="style5" colspan="3">
<span id="ContentPlaceHolder1_DataList1_CourseCodeLabel_0">101</span>
                            -<span id="ContentPlaceHolder1_DataList1_CourseLabel_0">CIVIL ENGINEERING</span>
</td>
</tr>
12 <tr align="center">
<th scope="col">Subject Code</th><th scope="col">Subject Name</th><th scope="col">ESE</th><th scope="col">IA</th><th scope="col">Total</th><th scope="col">Grade</th><th scope="col">Credit</th>
</tr>
13 <tr align="left">
<td align="center">101401</td><td align="left">Civil Engineering - Societal &amp; Global Impact</td><td align="center">45</td><td align="center">23</td><td align="center">68</td><td align="center">C  </td><td align="center">2.00</td>
</tr>
14 <tr align="left">
<td align="center">101402</td><td align="left">Disaster Preparedness &amp; Planning  </td><td align="center">54</td><td align="center">26</td><td align="center">80</td><td align="center">A  </td><td align="center">2.00</td>
</tr>
15 <tr align="left">
<td align="center">101403</td><td align="left">Engineering Geology</td><td align="center">46</td><td align="center">27</td><td align="center">73</td><td align="center">B  </td><td align="center">2.00</td>
</tr>
16 <tr align="left">
<td align="center">101404</td><td align="left">Introduction to Fluid Mechanics</td><td align="center">32</td><td align="center">16</td><td align="center">48</td><td align="center">P  </td><td align="center">3.00</td>
</tr>
17 <tr align="left">
<td align="center">101405</td><td align="left">Introduction to Solid Mechanics</td><td align="center">48</td><td align="center">15</td><td align="center">63</td><td align="center">C  </td><td align="center">3.00</td>
</tr>
18 <tr align="left">
<td align="center">101406</td><td align="left">Materials, Testing &amp; Evaluation</td><td align="center">45</td><td align="center">21</td><td align="center">66</td><td align="center">C  </td><td align="center">2.00</td>
</tr>
19 <tr align="left">
<td align="center">101407</td><td align="left">Mechanical Engineering</td><td align="center">40</td><td align="center">24</td><td align="center">64</td><td align="center">C  </td><td align="center">3.00</td>
</tr>
20 <tr align="left">
<td align="center">101408</td><td align="left">Structural Analysis  </td><td align="center">40</td><td align="center">20</td><td align="center">60</td><td align="center">C  </td><td align="center">4.00</td>
</tr>
21 <tr align="center">
<th scope="col">Subject Code</th><th scope="col">Subject Name</th><th scope="col">ESE</th><th scope="col">IA</th><th scope="col">Total</th><th scope="col">Grade</th><th scope="col">Credit</th>
</tr>
22 <tr align="left">
<td align="center">100408P</td><td align="left">MOOCs / SWAYAM / NPTEL Courses - 1 </td><td align="center">31</td><td align="center">23</td><td align="center">54</td><td align="center">D </td><td align="center">2.00</td>
</tr>
23 <tr align="left">
<td align="center">101403P</td><td align="left">Engineering Geology</td><td align="center">28</td><td align="center">17</td><td align="center">45</td><td align="center">A+</td><td align="center">1.00</td>
</tr>
24 <tr align="left">
<td align="center">101404P</td><td align="left">Introduction to Fluid Mechanics</td><td align="center">23</td><td align="center">15</td><td align="center">38</td><td align="center">B </td><td align="center">1.00</td>
</tr>
25 <tr align="left">
<td align="center">101406P</td><td align="left">Materials, Testing &amp; Evaluation</td><td align="center">26</td><td align="center">16</td><td align="center">42</td><td align="center">A </td><td align="center">1.00</td>
</tr>
26 <tr>
<td>
<table border="1" class="style6">
<tr>
<td style="text-align: right" width="50%">
<strong>SGPA : </strong>
<span id="ContentPlaceHolder1_DataList5_GROSSTHEORYTOTALLabel_0" style="font-weight: 700">7.15</span>
</td>
</tr>
</table>
</td>
</tr>
27 <tr>
<td style="text-align: right" width="50%">
<strong>SGPA : </strong>
<span id="ContentPlaceHolder1_DataList5_GROSSTHEORYTOTALLabel_0" style="font-weight: 700">7.15</span>
</td>
</tr>
28 <tr>
<td width="10%">
<table border="1">
<tr>
<td>
<b>Semester:
                            </b>
</td>
</tr>
<tr>
<td>
<b>SGPA:
                            </b>
</td>
</tr>
</table>
</td>
<td>
<div>
<table border="1" cellspacing="0" id="ContentPlaceHolder1_GridView3" rules="all" width="100%">
<tr align="center">
<th scope="col">I</th><th scope="col">II</th><th scope="col">III</th><th scope="col">IV</th><th scope="col">V</th><th scope="col">VI</th><th scope="col">VII</th><th scope="col">VIII</th><th scope="col">Cur. CGPA</th>
</tr><tr align="center">
<td>8.31</td><td>7.85</td><td>7.83</td><td>7.15</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td><td>7.73</td>
</tr>
</table>
</div>
</td>
</tr>
29 <tr>
<td>
<b>Semester:
                            </b>
</td>
</tr>
30 <tr>
<td>
<b>SGPA:
                            </b>
</td>
</tr>
31 <tr align="center">
<th scope="col">I</th><th scope="col">II</th><th scope="col">III</th><th scope="col">IV</th><th scope="col">V</th><th scope="col">VI</th><th scope="col">VII</th><th scope="col">VIII</th><th scope="col">Cur. CGPA</th>
</tr>
32 <tr align="center">
<td>8.31</td><td>7.85</td><td>7.83</td><td>7.15</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td><td>7.73</td>
</tr>
33 <tr>
<td>
<table border="1" class="style6">
<tr>
<td style="text-align: left" width="50%">
<strong>Remarks : </strong>
<span id="ContentPlaceHolder1_DataList3_remarkLabel_0" style="font-weight: 700"><font color="Red"></font></span>
</td>
</tr>
</table>
</td>
</tr>
34 <tr>
<td style="text-align: left" width="50%">
<strong>Remarks : </strong>
<span id="ContentPlaceHolder1_DataList3_remarkLabel_0" style="font-weight: 700"><font color="Red"></font></span>
</td>
</tr>
35 <tr style="text-align:center">
<td><a href="#" id="hrefPrint"><img alt="" src="images/printbutton.png"/></a>
</td>
</tr>

In [ ]:
for reg in range(start_reg_no,end_reg_no+1):
  try:
    url=f"http://results.beup.ac.in/ResultsBTech4thSem2023_B2021Pub.aspx?Sem=IV&RegNo={reg}" #Edit this
    req=requests.get(url)
    content=BeautifulSoup(req.content,'html.parser')
    tr=content.find_all("tr")
    # for i in range(len(tr)):
    #   print(i,tr[i])
    # break

    reg_no=tr[7].find("span").text.strip()
    name=tr[8].find("span").text.strip()
    sgpa=tr[27].find("span").text.strip()
    sem=tr[32].find_all("td") #[4:13]
    sem = [i.text.strip() for i in sem]
    cgpa = sem[-1]
    sem.pop()
    # print(sem)
    # break

    Student_Name.append(name)
    Reg_no.append(reg_no)
    SGPA.append(sgpa)
    CGPA.append(cgpa)
    SEM.append(sem)



    print(f"Result for {reg}: DONE!")
  except:
    print(f"Result for {reg}: FAILED!")
    pass

Result for 21101135001: DONE!
Result for 21101135002: FAILED!
Result for 21101135003: DONE!
Result for 21101135004: DONE!
Result for 21101135005: DONE!
Result for 21101135006: DONE!
Result for 21101135007: DONE!
Result for 21101135008: DONE!
Result for 21101135009: DONE!
Result for 21101135010: DONE!
Result for 21101135011: DONE!
Result for 21101135012: DONE!
Result for 21101135013: DONE!
Result for 21101135014: FAILED!
Result for 21101135015: FAILED!
Result for 21101135016: DONE!
Result for 21101135017: DONE!
Result for 21101135018: FAILED!
Result for 21101135019: DONE!
Result for 21101135020: DONE!
Result for 21101135021: FAILED!
Result for 21101135022: DONE!
Result for 21101135023: FAILED!
Result for 21101135024: DONE!
Result for 21101135025: DONE!
Result for 21101135026: FAILED!
Result for 21101135027: DONE!
Result for 21101135028: DONE!
Result for 21101135029: DONE!
Result for 21101135030: DONE!
Result for 21101135031: DONE!
Result for 21101135032: DONE!
Result for 21101135033: FAILED!
Result for 21101135034: DONE!
Result for 21101135035: DONE!
Result for 21101135036: DONE!
Result for 21101135037: FAILED!
Result for 21101135038: DONE!
Result for 21101135039: FAILED!
Result for 21101135040: DONE!
Result for 21101135041: DONE!
Result for 21101135042: DONE!
Result for 21101135043: DONE!
Result for 21101135044: DONE!
Result for 21101135045: DONE!
Result for 21101135046: DONE!
Result for 21101135047: DONE!
Result for 21101135048: DONE!
Result for 21101135049: FAILED!
Result for 21101135050: FAILED!
Result for 21101135051: DONE!
Result for 21101135052: FAILED!
Result for 21101135053: DONE!
Result for 21101135054: FAILED!
Result for 21101135055: DONE!
Result for 21101135056: DONE!
Result for 21101135057: DONE!
Result for 21101135058: DONE!
Result for 21101135059: DONE!

In [ ]:
print(Student_Name)
print(Reg_no)
print(SGPA)
print(CGPA)
print(SEM)

['SHEETAL KUMAR', 'KUNDAN KUMAR', 'AMRENDRA KUMAR', 'RAHUL KUMAR', 'CHITRANJAN KUMAR', 'ANKIT SINGH', 'AMAN KUMAR', 'UTKARSH RAJ', 'NIRBHAY KUMAR', 'AMAN KUAMR', 'ANKIT GIRI', 'SUSHIL KUMAR', 'RISHAV KUMAR', 'KUMAR HARSH', 'RAJ NARAYAN YADAV', 'RUPAM KUMARI', 'PRANJALI RAJ', 'SAKSHI KUMARI', 'KUMAR ABHISHEK ANAND', 'HIMANSHU SHEKHAR', 'ANSHU KUMARI', 'VANDANA KUMARI', 'YUVRAJ KUMAR', 'BABUL KUMAR', 'ABHINASH KUMAR', 'DEEPAK KUAMR', 'KISHAN KUMAR RAJAK', 'ARJUN KUAMR', 'PRABHAT KUMAR', 'RAJAN KUMAR', 'MANISH KUMAR', 'SURAJ KUMAR', 'PALLAVI SAH', 'ATUL KUMAR', 'AMIT KUMAR', 'NEETIN RAJ', 'HIMANSHU KUMAR', 'KASHISH RAJ', 'PRABHASH KUMAR', 'ABHISHEK ANAND', 'NEELMANI JHA', 'AMAN KUMAR', 'ANMOL KUMAR', 'ANIKET KUMAR', 'KANCHAN KUMARI', 'SHEETAL KUMAR', 'KUNDAN KUMAR', 'AMRENDRA KUMAR', 'RAHUL KUMAR', 'CHITRANJAN KUMAR', 'ANKIT SINGH', 'AMAN KUMAR', 'UTKARSH RAJ', 'NIRBHAY KUMAR', 'AMAN KUAMR', 'ANKIT GIRI', 'SUSHIL KUMAR', 'RISHAV KUMAR', 'KUMAR HARSH', 'RAJ NARAYAN YADAV', 'RUPAM KUMARI', 'PRANJALI RAJ', 'SAKSHI KUMARI', 'KUMAR ABHISHEK ANAND', 'HIMANSHU SHEKHAR', 'ANSHU KUMARI', 'VANDANA KUMARI', 'YUVRAJ KUMAR', 'BABUL KUMAR', 'ABHINASH KUMAR', 'DEEPAK KUAMR', 'KISHAN KUMAR RAJAK', 'ARJUN KUAMR', 'PRABHAT KUMAR', 'RAJAN KUMAR', 'MANISH KUMAR', 'SURAJ KUMAR', 'PALLAVI SAH', 'ATUL KUMAR', 'AMIT KUMAR', 'NEETIN RAJ', 'HIMANSHU KUMAR', 'KASHISH RAJ', 'PRABHASH KUMAR', 'ABHISHEK ANAND', 'NEELMANI JHA', 'AMAN KUMAR', 'ANMOL KUMAR', 'ANIKET KUMAR', 'KANCHAN KUMARI']
['21101135001', '21101135003', '21101135004', '21101135005', '21101135006', '21101135007', '21101135008', '21101135009', '21101135010', '21101135011', '21101135012', '21101135013', '21101135016', '21101135017', '21101135019', '21101135020', '21101135022', '21101135024', '21101135025', '21101135027', '21101135028', '21101135029', '21101135030', '21101135031', '21101135032', '21101135034', '21101135035', '21101135036', '21101135038', '21101135040', '21101135041', '21101135042', '21101135043', '21101135044', '21101135045', '21101135046', '21101135047', '21101135048', '21101135051', '21101135053', '21101135055', '21101135056', '21101135057', '21101135058', '21101135059', '21101135001', '21101135003', '21101135004', '21101135005', '21101135006', '21101135007', '21101135008', '21101135009', '21101135010', '21101135011', '21101135012', '21101135013', '21101135016', '21101135017', '21101135019', '21101135020', '21101135022', '21101135024', '21101135025', '21101135027', '21101135028', '21101135029', '21101135030', '21101135031', '21101135032', '21101135034', '21101135035', '21101135036', '21101135038', '21101135040', '21101135041', '21101135042', '21101135043', '21101135044', '21101135045', '21101135046', '21101135047', '21101135048', '21101135051', '21101135053', '21101135055', '21101135056', '21101135057', '21101135058', '21101135059']
['6.77', '7.15', '6.69', '3.27', '5.27', '6.85', '7.50', '5.23', '5.31', '5.19', '5.27', '4.92', '6.19', '6.54', '6.15', '6.54', '7.35', '6.96', '4.27', '7.38', '7.31', '6.08', '5.85', '3.50', '6.27', '5.46', '8.58', '6.81', '7.58', '7.00', '6.35', '7.27', '6.31', '5.54', '5.15', '5.38', '6.19', '6.69', '7.77', '3.88', '7.15', '7.46', '4.88', '5.50', '5.42', '6.77', '7.15', '6.69', '3.27', '5.27', '6.85', '7.50', '5.23', '5.31', '5.19', '5.27', '4.92', '6.19', '6.54', '6.15', '6.54', '7.35', '6.96', '4.27', '7.38', '7.31', '6.08', '5.85', '3.50', '6.27', '5.46', '8.58', '6.81', '7.58', '7.00', '6.35', '7.27', '6.31', '5.54', '5.15', '5.38', '6.19', '6.69', '7.77', '3.88', '7.15', '7.46', '4.88', '5.50', '5.42']
['7.21', '7.73', '7.46', '4.63', '6.27', '7.42', '8.19', '6.58', '5.34', '5.78', '5.85', '6.38', '7.01', '6.66', '7.06', '7.29', '7.57', '7.55', '5.58', '7.87', '7.39', '7.06', '6.94', '4.89', '6.78', '6.57', '8.48', '7.47', '7.63', '7.60', '7.04', '8.12', '7.07', '6.79', '6.73', '6.63', '6.08', '7.47', '8.11', '5.62', '7.40', '7.69', '6.48', '6.03', '6.23', '7.21', '7.73', '7.46', '4.63', '6.27', '7.42', '8.19', '6.58', '5.34', '5.78', '5.85', '6.38', '7.01', '6.66', '7.06', '7.29', '7.57', '7.55', '5.58', '7.87', '7.39', '7.06', '6.94', '4.89', '6.78', '6.57', '8.48', '7.47', '7.63', '7.60', '7.04', '8.12', '7.07', '6.79', '6.73', '6.63', '6.08', '7.47', '8.11', '5.62', '7.40', '7.69', '6.48', '6.03', '6.23']
[['7.43', '7.41', '7.33', '6.77', 'NA', 'NA', 'NA', 'NA'], ['8.31', '7.85', '7.83', '7.15', 'NA', 'NA', 'NA', 'NA'], ['6.83', '8.41', '7.92', '6.69', 'NA', 'NA', 'NA', 'NA'], ['2.66', '7.10', '5.42', '3.27', 'NA', 'NA', 'NA', 'NA'], ['5.97', '7.32', '6.67', '5.27', 'NA', 'NA', 'NA', 'NA'], ['6.94', '8.46', '7.50', '6.85', 'NA', 'NA', 'NA', 'NA'], ['8.14', '8.68', '8.54', '7.50', 'NA', 'NA', 'NA', 'NA'], ['6.66', '7.98', '6.79', '5.23', 'NA', 'NA', 'NA', 'NA'], ['3.91', '7.24', '4.79', '5.31', 'NA', 'NA', 'NA', 'NA'], ['6.09', '7.46', '4.75', '5.19', 'NA', 'NA', 'NA', 'NA'], ['5.51', '7.93', '4.96', '5.27', 'NA', 'NA', 'NA', 'NA'], ['6.83', '7.51', '6.67', '4.92', 'NA', 'NA', 'NA', 'NA'], ['7.29', '7.49', '7.29', '6.19', 'NA', 'NA', 'NA', 'NA'], ['5.40', '8.12', '6.46', '6.54', 'NA', 'NA', 'NA', 'NA'], ['7.00', '7.63', '7.58', '6.15', 'NA', 'NA', 'NA', 'NA'], ['6.83', '8.00', '7.83', '6.54', 'NA', 'NA', 'NA', 'NA'], ['6.89', '8.63', '7.42', '7.35', 'NA', 'NA', 'NA', 'NA'], ['7.34', '8.54', '7.50', '6.96', 'NA', 'NA', 'NA', 'NA'], ['6.60', '7.24', '4.83', '4.27', 'NA', 'NA', 'NA', 'NA'], ['7.34', '8.63', '8.13', '7.38', 'NA', 'NA', 'NA', 'NA'], ['7.00', '8.12', '7.13', '7.31', 'NA', 'NA', 'NA', 'NA'], ['6.63', '8.15', '7.50', '6.08', 'NA', 'NA', 'NA', 'NA'], ['6.83', '7.83', '7.46', '5.85', 'NA', 'NA', 'NA', 'NA'], ['3.74', '7.76', '4.79', '3.50', 'NA', 'NA', 'NA', 'NA'], ['6.03', '7.42', '7.33', '6.27', 'NA', 'NA', 'NA', 'NA'], ['6.71', '8.24', '6.25', '5.46', 'NA', 'NA', 'NA', 'NA'], ['7.51', '8.90', '8.71', '8.58', 'NA', 'NA', 'NA', 'NA'], ['7.40', '7.78', '7.96', '6.81', 'NA', 'NA', 'NA', 'NA'], ['6.71', '8.20', '7.88', '7.58', 'NA', 'NA', 'NA', 'NA'], ['7.69', '8.02', '7.83', '7.00', 'NA', 'NA', 'NA', 'NA'], ['7.06', '7.29', '7.58', '6.35', 'NA', 'NA', 'NA', 'NA'], ['7.86', '8.68', '8.75', '7.27', 'NA', 'NA', 'NA', 'NA'], ['6.74', '8.10', '7.25', '6.31', 'NA', 'NA', 'NA', 'NA'], ['6.89', '7.61', '7.38', '5.54', 'NA', 'NA', 'NA', 'NA'], ['6.77', '8.05', '7.29', '5.15', 'NA', 'NA', 'NA', 'NA'], ['6.31', '8.49', '6.63', '5.38', 'NA', 'NA', 'NA', 'NA'], ['5.23', '8.15', '4.83', '6.19', 'NA', 'NA', 'NA', 'NA'], ['6.49', '8.59', '8.08', '6.69', 'NA', 'NA', 'NA', 'NA'], ['8.31', '8.34', '8.13', '7.77', 'NA', 'NA', 'NA', 'NA'], ['6.54', '8.10', '4.71', '3.88', 'NA', 'NA', 'NA', 'NA'], ['6.60', '8.10', '7.67', '7.15', 'NA', 'NA', 'NA', 'NA'], ['7.11', '8.63', '7.54', '7.46', 'NA', 'NA', 'NA', 'NA'], ['6.66', '7.85', '6.92', '4.88', 'NA', 'NA', 'NA', 'NA'], ['5.46', '7.98', '5.38', '5.50', 'NA', 'NA', 'NA', 'NA'], ['4.94', '7.66', '6.83', '5.42', 'NA', 'NA', 'NA', 'NA'], ['7.43', '7.41', '7.33', '6.77', 'NA', 'NA', 'NA', 'NA'], ['8.31', '7.85', '7.83', '7.15', 'NA', 'NA', 'NA', 'NA'], ['6.83', '8.41', '7.92', '6.69', 'NA', 'NA', 'NA', 'NA'], ['2.66', '7.10', '5.42', '3.27', 'NA', 'NA', 'NA', 'NA'], ['5.97', '7.32', '6.67', '5.27', 'NA', 'NA', 'NA', 'NA'], ['6.94', '8.46', '7.50', '6.85', 'NA', 'NA', 'NA', 'NA'], ['8.14', '8.68', '8.54', '7.50', 'NA', 'NA', 'NA', 'NA'], ['6.66', '7.98', '6.79', '5.23', 'NA', 'NA', 'NA', 'NA'], ['3.91', '7.24', '4.79', '5.31', 'NA', 'NA', 'NA', 'NA'], ['6.09', '7.46', '4.75', '5.19', 'NA', 'NA', 'NA', 'NA'], ['5.51', '7.93', '4.96', '5.27', 'NA', 'NA', 'NA', 'NA'], ['6.83', '7.51', '6.67', '4.92', 'NA', 'NA', 'NA', 'NA'], ['7.29', '7.49', '7.29', '6.19', 'NA', 'NA', 'NA', 'NA'], ['5.40', '8.12', '6.46', '6.54', 'NA', 'NA', 'NA', 'NA'], ['7.00', '7.63', '7.58', '6.15', 'NA', 'NA', 'NA', 'NA'], ['6.83', '8.00', '7.83', '6.54', 'NA', 'NA', 'NA', 'NA'], ['6.89', '8.63', '7.42', '7.35', 'NA', 'NA', 'NA', 'NA'], ['7.34', '8.54', '7.50', '6.96', 'NA', 'NA', 'NA', 'NA'], ['6.60', '7.24', '4.83', '4.27', 'NA', 'NA', 'NA', 'NA'], ['7.34', '8.63', '8.13', '7.38', 'NA', 'NA', 'NA', 'NA'], ['7.00', '8.12', '7.13', '7.31', 'NA', 'NA', 'NA', 'NA'], ['6.63', '8.15', '7.50', '6.08', 'NA', 'NA', 'NA', 'NA'], ['6.83', '7.83', '7.46', '5.85', 'NA', 'NA', 'NA', 'NA'], ['3.74', '7.76', '4.79', '3.50', 'NA', 'NA', 'NA', 'NA'], ['6.03', '7.42', '7.33', '6.27', 'NA', 'NA', 'NA', 'NA'], ['6.71', '8.24', '6.25', '5.46', 'NA', 'NA', 'NA', 'NA'], ['7.51', '8.90', '8.71', '8.58', 'NA', 'NA', 'NA', 'NA'], ['7.40', '7.78', '7.96', '6.81', 'NA', 'NA', 'NA', 'NA'], ['6.71', '8.20', '7.88', '7.58', 'NA', 'NA', 'NA', 'NA'], ['7.69', '8.02', '7.83', '7.00', 'NA', 'NA', 'NA', 'NA'], ['7.06', '7.29', '7.58', '6.35', 'NA', 'NA', 'NA', 'NA'], ['7.86', '8.68', '8.75', '7.27', 'NA', 'NA', 'NA', 'NA'], ['6.74', '8.10', '7.25', '6.31', 'NA', 'NA', 'NA', 'NA'], ['6.89', '7.61', '7.38', '5.54', 'NA', 'NA', 'NA', 'NA'], ['6.77', '8.05', '7.29', '5.15', 'NA', 'NA', 'NA', 'NA'], ['6.31', '8.49', '6.63', '5.38', 'NA', 'NA', 'NA', 'NA'], ['5.23', '8.15', '4.83', '6.19', 'NA', 'NA', 'NA', 'NA'], ['6.49', '8.59', '8.08', '6.69', 'NA', 'NA', 'NA', 'NA'], ['8.31', '8.34', '8.13', '7.77', 'NA', 'NA', 'NA', 'NA'], ['6.54', '8.10', '4.71', '3.88', 'NA', 'NA', 'NA', 'NA'], ['6.60', '8.10', '7.67', '7.15', 'NA', 'NA', 'NA', 'NA'], ['7.11', '8.63', '7.54', '7.46', 'NA', 'NA', 'NA', 'NA'], ['6.66', '7.85', '6.92', '4.88', 'NA', 'NA', 'NA', 'NA'], ['5.46', '7.98', '5.38', '5.50', 'NA', 'NA', 'NA', 'NA'], ['4.94', '7.66', '6.83', '5.42', 'NA', 'NA', 'NA', 'NA']]

In [ ]:
print(len(Student_Name))
print(len(Reg_no))
print(len(SGPA))
print(len(CGPA))
print(len(SEM))

90
90
90
90
90

In [ ]:
# import csv
# length = len(SEM)
# with open('results.csv', 'w') as f:
#   writer = csv.writer(f)
#   writer.writerow(['RegNo', 'Name', 'CGPA', 'SGPA', 'SEM-1', 'SEM-2', 'SEM-3','SEM-4','SEM-5','SEM-6','SEM-7','SEM-8'])       #[Orginal]
#   for i in range(length):
#     row = [Reg_no[i], Student_Name[i], CGPA[i], SGPA[i], *SEM[i]]
#     writer.writerow(row)

import csv
length = len(SEM)
with open('results.csv', 'w') as f:
  writer = csv.writer(f)
  writer.writerow(['RegNo', 'Name', 'CGPA','SGPA', 'SEM-1', 'SEM-2', 'SEM-3','SEM-4','SEM-5','SEM-6','SEM-7','SEM-8','AVG-3 & 4'])
  for i in range(length):
    print(i,SEM[i])
    if SEM[i][2]=='NA' or SEM[i][3]=='NA':

      continue
    row = [Reg_no[i], Student_Name[i], CGPA[i], SGPA[i], *SEM[i],(float(SEM[i][2])+float(SEM[i][3]))/2]
    writer.writerow(row)

# import csv
# length = len(SEM)
# with open('results.csv', 'w') as f:
#   writer = csv.writer(f)
#   writer.writerow(['RegNo', 'Name', 'CGPA','SGPA', 'SEM-1', 'SEM-2', 'SEM-3','SEM-4','SEM-5','SEM-6','SEM-7','SEM-8','AVG-3 & 4'])
#   for i in range(length):
#     print(i,SEM[i])
#     if SEM[i][2]=='NA' or SEM[i][3]=='NA':

#       continue

#     row = [Reg_no[i], Student_Name[i], CGPA[i], SGPA[i], *SEM[i],(float(SEM[i][2])+float(SEM[i][3]))/2]
#     writer.writerow(row)

0 ['7.43', '7.41', '7.33', '6.77', 'NA', 'NA', 'NA', 'NA']
1 ['8.31', '7.85', '7.83', '7.15', 'NA', 'NA', 'NA', 'NA']
2 ['6.83', '8.41', '7.92', '6.69', 'NA', 'NA', 'NA', 'NA']
3 ['2.66', '7.10', '5.42', '3.27', 'NA', 'NA', 'NA', 'NA']
4 ['5.97', '7.32', '6.67', '5.27', 'NA', 'NA', 'NA', 'NA']
5 ['6.94', '8.46', '7.50', '6.85', 'NA', 'NA', 'NA', 'NA']
6 ['8.14', '8.68', '8.54', '7.50', 'NA', 'NA', 'NA', 'NA']
7 ['6.66', '7.98', '6.79', '5.23', 'NA', 'NA', 'NA', 'NA']
8 ['3.91', '7.24', '4.79', '5.31', 'NA', 'NA', 'NA', 'NA']
9 ['6.09', '7.46', '4.75', '5.19', 'NA', 'NA', 'NA', 'NA']
10 ['5.51', '7.93', '4.96', '5.27', 'NA', 'NA', 'NA', 'NA']
11 ['6.83', '7.51', '6.67', '4.92', 'NA', 'NA', 'NA', 'NA']
12 ['7.29', '7.49', '7.29', '6.19', 'NA', 'NA', 'NA', 'NA']
13 ['5.40', '8.12', '6.46', '6.54', 'NA', 'NA', 'NA', 'NA']
14 ['7.00', '7.63', '7.58', '6.15', 'NA', 'NA', 'NA', 'NA']
15 ['6.83', '8.00', '7.83', '6.54', 'NA', 'NA', 'NA', 'NA']
16 ['6.89', '8.63', '7.42', '7.35', 'NA', 'NA', 'NA', 'NA']
17 ['7.34', '8.54', '7.50', '6.96', 'NA', 'NA', 'NA', 'NA']
18 ['6.60', '7.24', '4.83', '4.27', 'NA', 'NA', 'NA', 'NA']
19 ['7.34', '8.63', '8.13', '7.38', 'NA', 'NA', 'NA', 'NA']
20 ['7.00', '8.12', '7.13', '7.31', 'NA', 'NA', 'NA', 'NA']
21 ['6.63', '8.15', '7.50', '6.08', 'NA', 'NA', 'NA', 'NA']
22 ['6.83', '7.83', '7.46', '5.85', 'NA', 'NA', 'NA', 'NA']
23 ['3.74', '7.76', '4.79', '3.50', 'NA', 'NA', 'NA', 'NA']
24 ['6.03', '7.42', '7.33', '6.27', 'NA', 'NA', 'NA', 'NA']
25 ['6.71', '8.24', '6.25', '5.46', 'NA', 'NA', 'NA', 'NA']
26 ['7.51', '8.90', '8.71', '8.58', 'NA', 'NA', 'NA', 'NA']
27 ['7.40', '7.78', '7.96', '6.81', 'NA', 'NA', 'NA', 'NA']
28 ['6.71', '8.20', '7.88', '7.58', 'NA', 'NA', 'NA', 'NA']
29 ['7.69', '8.02', '7.83', '7.00', 'NA', 'NA', 'NA', 'NA']
30 ['7.06', '7.29', '7.58', '6.35', 'NA', 'NA', 'NA', 'NA']
31 ['7.86', '8.68', '8.75', '7.27', 'NA', 'NA', 'NA', 'NA']
32 ['6.74', '8.10', '7.25', '6.31', 'NA', 'NA', 'NA', 'NA']
33 ['6.89', '7.61', '7.38', '5.54', 'NA', 'NA', 'NA', 'NA']
34 ['6.77', '8.05', '7.29', '5.15', 'NA', 'NA', 'NA', 'NA']
35 ['6.31', '8.49', '6.63', '5.38', 'NA', 'NA', 'NA', 'NA']
36 ['5.23', '8.15', '4.83', '6.19', 'NA', 'NA', 'NA', 'NA']
37 ['6.49', '8.59', '8.08', '6.69', 'NA', 'NA', 'NA', 'NA']
38 ['8.31', '8.34', '8.13', '7.77', 'NA', 'NA', 'NA', 'NA']
39 ['6.54', '8.10', '4.71', '3.88', 'NA', 'NA', 'NA', 'NA']
40 ['6.60', '8.10', '7.67', '7.15', 'NA', 'NA', 'NA', 'NA']
41 ['7.11', '8.63', '7.54', '7.46', 'NA', 'NA', 'NA', 'NA']
42 ['6.66', '7.85', '6.92', '4.88', 'NA', 'NA', 'NA', 'NA']
43 ['5.46', '7.98', '5.38', '5.50', 'NA', 'NA', 'NA', 'NA']
44 ['4.94', '7.66', '6.83', '5.42', 'NA', 'NA', 'NA', 'NA']
45 ['7.43', '7.41', '7.33', '6.77', 'NA', 'NA', 'NA', 'NA']
46 ['8.31', '7.85', '7.83', '7.15', 'NA', 'NA', 'NA', 'NA']
47 ['6.83', '8.41', '7.92', '6.69', 'NA', 'NA', 'NA', 'NA']
48 ['2.66', '7.10', '5.42', '3.27', 'NA', 'NA', 'NA', 'NA']
49 ['5.97', '7.32', '6.67', '5.27', 'NA', 'NA', 'NA', 'NA']
50 ['6.94', '8.46', '7.50', '6.85', 'NA', 'NA', 'NA', 'NA']
51 ['8.14', '8.68', '8.54', '7.50', 'NA', 'NA', 'NA', 'NA']
52 ['6.66', '7.98', '6.79', '5.23', 'NA', 'NA', 'NA', 'NA']
53 ['3.91', '7.24', '4.79', '5.31', 'NA', 'NA', 'NA', 'NA']
54 ['6.09', '7.46', '4.75', '5.19', 'NA', 'NA', 'NA', 'NA']
55 ['5.51', '7.93', '4.96', '5.27', 'NA', 'NA', 'NA', 'NA']
56 ['6.83', '7.51', '6.67', '4.92', 'NA', 'NA', 'NA', 'NA']
57 ['7.29', '7.49', '7.29', '6.19', 'NA', 'NA', 'NA', 'NA']
58 ['5.40', '8.12', '6.46', '6.54', 'NA', 'NA', 'NA', 'NA']
59 ['7.00', '7.63', '7.58', '6.15', 'NA', 'NA', 'NA', 'NA']
60 ['6.83', '8.00', '7.83', '6.54', 'NA', 'NA', 'NA', 'NA']
61 ['6.89', '8.63', '7.42', '7.35', 'NA', 'NA', 'NA', 'NA']
62 ['7.34', '8.54', '7.50', '6.96', 'NA', 'NA', 'NA', 'NA']
63 ['6.60', '7.24', '4.83', '4.27', 'NA', 'NA', 'NA', 'NA']
64 ['7.34', '8.63', '8.13', '7.38', 'NA', 'NA', 'NA', 'NA']
65 ['7.00', '8.12', '7.13', '7.31', 'NA', 'NA', 'NA', 'NA']
66 ['6.63', '8.15', '7.50', '6.08', 'NA', 'NA', 'NA', 'NA']
67 ['6.83', '7.83', '7.46', '5.85', 'NA', 'NA', 'NA', 'NA']
68 ['3.74', '7.76', '4.79', '3.50', 'NA', 'NA', 'NA', 'NA']
69 ['6.03', '7.42', '7.33', '6.27', 'NA', 'NA', 'NA', 'NA']
70 ['6.71', '8.24', '6.25', '5.46', 'NA', 'NA', 'NA', 'NA']
71 ['7.51', '8.90', '8.71', '8.58', 'NA', 'NA', 'NA', 'NA']
72 ['7.40', '7.78', '7.96', '6.81', 'NA', 'NA', 'NA', 'NA']
73 ['6.71', '8.20', '7.88', '7.58', 'NA', 'NA', 'NA', 'NA']
74 ['7.69', '8.02', '7.83', '7.00', 'NA', 'NA', 'NA', 'NA']
75 ['7.06', '7.29', '7.58', '6.35', 'NA', 'NA', 'NA', 'NA']
76 ['7.86', '8.68', '8.75', '7.27', 'NA', 'NA', 'NA', 'NA']
77 ['6.74', '8.10', '7.25', '6.31', 'NA', 'NA', 'NA', 'NA']
78 ['6.89', '7.61', '7.38', '5.54', 'NA', 'NA', 'NA', 'NA']
79 ['6.77', '8.05', '7.29', '5.15', 'NA', 'NA', 'NA', 'NA']
80 ['6.31', '8.49', '6.63', '5.38', 'NA', 'NA', 'NA', 'NA']
81 ['5.23', '8.15', '4.83', '6.19', 'NA', 'NA', 'NA', 'NA']
82 ['6.49', '8.59', '8.08', '6.69', 'NA', 'NA', 'NA', 'NA']
83 ['8.31', '8.34', '8.13', '7.77', 'NA', 'NA', 'NA', 'NA']
84 ['6.54', '8.10', '4.71', '3.88', 'NA', 'NA', 'NA', 'NA']
85 ['6.60', '8.10', '7.67', '7.15', 'NA', 'NA', 'NA', 'NA']
86 ['7.11', '8.63', '7.54', '7.46', 'NA', 'NA', 'NA', 'NA']
87 ['6.66', '7.85', '6.92', '4.88', 'NA', 'NA', 'NA', 'NA']
88 ['5.46', '7.98', '5.38', '5.50', 'NA', 'NA', 'NA', 'NA']
89 ['4.94', '7.66', '6.83', '5.42', 'NA', 'NA', 'NA', 'NA']

In [ ]:
# Topper in 3 & 4 Sem in this Branch
import pandas as pd
df=pd.read_csv("results.csv")
final=df.sort_values(by="AVG-3 & 4",ascending=False)
final[['Name','RegNo','SEM-3','SEM-4',"AVG-3 & 4"]].head(1)

                  Name        RegNo  SEM-3  SEM-4  AVG-3 & 4
26  KISHAN KUMAR RAJAK  21101135035   8.71   8.58      8.645

In [ ]:
from google.colab import files
files.download("results.csv")